.default-layout {
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.index-page {
  z-index: 1;
  padding-top: 130px;
  overflow: hidden;
}

.main-container {
  width: 100%;
}
